<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="es" class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Series </title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="../css/serie.css">
</head>

<body>

	<div class="wrapper">
		<div id="msg" class="msg"></div>
		
		<input type="text" id="number">
		<button id="add">Agregar</button><br><br>

		<button id="order" class="order">Ordenar elementos</button>
		<div id="result" class="result"></div>
	</div>
	
	
	<script src="../node_modules/jquery/dist/jquery.js"></script>
	<script src="../js/serie.js"></script>	

	<!-- Validación para navegadores antiguos. -->
	<!--[if lt IE 7]>
      	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  	<![endif]-->

	<noscript>
	    Habilitar javascript en tu navegador.
	</noscript>
	
</body>

</html>
